<div class="node">
<form class="form" (submit)="login(username.value, password.value)">
  <p>Log in or go to <a routerLink="/home">back</a>!</p>
  <ul>
    <li>
      <label for="username"><strong>Username</strong> </label>
      <input #username type="text" id="username" placeholder=" DiMen" required>
    </li>
    <li>
      <label for="password"><strong>Password</strong> </label>
      <input #password type="password" id="password" placeholder=" 1234" required>
    </li>
    <li>
      <label for="submit" style="padding: 0"></label>
      <button  type="submit" id="submit">Login</button>
    </li>
  </ul>

</form>

</div>
