<div class="div1">
  <h2><a class="link" routerLink="/home" routerLinkActive="active">Главная</a></h2>
</div>
<div class="div2">
  <h2><a class="link" routerLink="/game" routerLinkActive="active">Играть</a></h2>
</div>
<div class="div3">
  <div id="logout">
    <h2><a class="link" routerLink="/login" routerLinkActive="active">Войти</a></h2>
  </div>
  <div id="login">
    <h2><a class="link" id="user" routerLink="/account" routerLinkActive="active">Вы вошли под именем: </a></h2>
  </div>
</div>
