* {
  font-family: sans-serif;
}
app-login-page {

}
a {
  position: absolute;
  right: 5em;
  color: white;
  text-decoration: none;
}

a:hover {
  color: wheat;
  text-decoration: underline;
}
a:active {
  color: white;
  text-decoration: underline;
}
